.header{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%
    
}
.win{
    color: red;
    font-size: 144%;

}
.chances{
/* text-align: right; */
}
.stars{
    /* display:flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* background-color: red; */
    flex-grow: 1; 
}
.controls{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.equal{
    margin-bottom: 10%
}
.round-button{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: gray;
    border-radius: 15px;
}
.button-green{
    background-color: #90ee90;
}
.deck{
    display:flex;
    justify-content: center;
}
.selection{
    /* margin-top: 5px; */
    /* margin-right: 18px; */
    /* background-color: green; */
    flex-grow: 1;
}
.playArea{
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;

}
.control-area-container{
    flex-grow: 1
}
.control-area{
    margin-right: 45%;
    margin-left: 45%;
    min-width: 60px;
    /* margin-bottom: 5%; */
    background-color: yellow;
}